# Dependencies
node_modules/

# Next.js
.next/
out/

# Electron / builder output
dist/

# Debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# OS
.DS_Store

# Env
.env
.env*.local

# TypeScript
*.tsbuildinfo
